<div class="container">
  <a class="close" (click)="onClose()"></a>
  <div class="row">
      Selected MediaItem Preview
  </div>
  <div class="row">
    <div class="col-xs-3">
      <label>Name : {{ mediaItem.name }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <label>Watched : {{ mediaItem.watchedOn }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <label>Category: {{ mediaItem.category }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <label>Year: {{ mediaItem.year }}</label>
    </div>
  </div>
</div>