<div>
  <form [formGroup]="form"
  (ngSubmit)="filterMediaItem(form.value)">
    <input type="text" name="value" id="value" formControlName="value">
    <select name="propertyName" id="propertyName" formControlName="propertyName">
        <option *ngFor="let mediaItemProperty of lookupLists.mediaItemProperties" value="{{mediaItemProperty}}">{{mediaItemProperty}}</option>
    </select>
    <select name="operator" id="operator" formControlName="operator">
        <option *ngFor="let operator of lookupLists.operators" value="{{operator}}">{{operator}}</option>
    </select>
    <button type="submit" [disabled]="!form.valid">Filter</button>
  </form>
</div>